/* .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.input {
    border-radius: 8px;
    padding-left: 20px;
    width: 320px;
    height: 40px;
    border: 1px solid black;
    font-size: 14px;
    letter-spacing: 0.04em;
    outline: none;
    margin-bottom: 20px;
}

.input:hover {
    border-color: coral;
    transition: 300ms linear, color 300ms linear;
}

.input:focus {
    border-color: coral;
    transition: 300ms linear, color 300ms linear;
} */

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.title {
    color: #404565;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

::placeholder {
    color: #858585;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.input {
    width: 400px;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
    outline: none;
    color: #404565;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}