.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #adb5bd;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.home_question {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #adb5bd;
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #858585;
}

.link:hover {
    color: #ccc;
    transition: 300ms linear, color 300ms linear;
}