.link {
    display: flex;
    gap: 15px;
}

.item {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: #858585;

}

.active {
    color: #adb5bd;
}

.item:hover {
    color: #adb5bd;
    transition: 300ms linear, color 300ms linear;
}