body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FFFFFF;
  color: chocolate;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.gradient-text {
  background: linear-gradient(to right, coral, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
